@model IEnumerable<MVCPractice.Models.EmployeeModels>
           @using MVCPractice.Models

@{
    ViewBag.Title = "Employee List";
}

<h2>Employee List</h2>

<div>
    <ul>
        @foreach (EmployeeModels emplist in @Model)
        {
            <li>
                @Html.ActionLink(emplist.NAME, "Details", new { id = emplist.ID })
            </li>
        }
    </ul>
</div>
@Html.ActionLink("Back to Departments","Index","Department")